<!DOCTYPE html>
<html lang="en" style="height: 100%;">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>聖地足跡/來一趟專屬於你的動漫聖地巡禮吧！</title>
		<!-- Bootstrap -->
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
		<style>
body {
	padding-top: 50px;
}
p { 
	line-height: 1.7em;
	margin-after: 0.5em;
	text-align: justify; 
    text-justify: inter-ideographic;
	word-break: break-all;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}

		</style>
		<!-- jQuery (Bootstrap 所有外掛均需要使用) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- 依需要參考已編譯外掛版本（如下），或各自獨立的外掛版本 -->
		<script src="javascripts/bootstrap.min.js"></script>
		<script type="text/javascript">
var map;
var markers = [];

function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
    	//mapOptions
		zoom: 6,
		center: {lat: 36.2048240, lng: 138.2529240},
		mapTypeControl: true,	
		mapTypeControlOptions: {
			position: google.maps.ControlPosition.LEFT_BOTTOM
		}
	});
		<% for(var index in placemark) {%>
		var marker = new google.maps.Marker({
			position : new google.maps.LatLng(<%= placemark[index].scene[0].latitude %>,<%= placemark[index].scene[0].longitude %>),
			map : map,
			//icon : 'static/pic/placemark.png',
			title : '<%= placemark[index].scene[0].name %>'
		}).addListener('click', function(){
			//show placemark infomation
			$.get("/placemark/"+"<%= placemark[index]._id %>", function(data, status){
				if(status=="success"){
					///////////////////////////////////////////////////////
					///////////////////////處理座標資訊////////////////////
					///////////////////////////////////////////////////////


					alert("Name: "+ data.scene[0].name + "\nWork: "+ data.work[0].c_name);
				}
			});
		});
		markers["<%= placemark[index].scene[0].name %>"] = marker;
	<% } %>
};
		</script>
		<!-- HTML5 shim and Respond.js 讓 IE8 支援 HTML5 元素與媒體查詢 -->
		<!-- 警告：Respond.js 無法在 file:// 協定下運作 -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body style="height: 100%;">
	<!-- Modal -->
	<div class="modal fade" id="NEWSModal" tabindex="-1" role="dialog" aria-labelledby="workName" aria-hidden="true">
	</div>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<span class="glyphicon glyphicon-home"></span>
				</a>
				<!--
				<a class="navbar-brand" href="#">Logo
					<img alt="Logo" src="#"> 
				</a>
				-->
				<from class="navbar-form navbar-left form-inline" role="search">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" style="width: 500px;">
				   			<span class="input-group-btn">
				   				<button type="button" class="btn btn-default btn-md">找作品
				   				<span class="glyphicon glyphicon-search" aria-hidden="true">
				   				</span></button>
				   			</span>
			   			</div>
		   			</div>
	  			</from>
			</div>
			<ul class="nav navbar-nav navbar-right" id="user_bar">
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
			</ul>
		</div>
	</nav>
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALm13waMtWSh3upgvjnblpwSPBPLI3oe0&callback=initMap">
    </script>
    <div id="map" style="height: 80%; width: 100%;"></div>
    <br>
    <h2>Test</h2>


	</body>
</html>