<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>聖地足跡/來一趟專屬於你的動漫聖地巡禮吧！</title>
		<!-- Bootstrap -->
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
		<style>
			p { 
				line-height: 1.7em;
				margin-after: 0.5em;
				text-align: justify; 
				text-justify: inter-ideographic;
				word-break: break-all;
			}
			.center-block {
			display: block;
			margin-left: auto;
			margin-right: auto;
			}
			.show {
			display: block !important;
			}
			.hidden {
			display: none !important;
			visibility: hidden !important;
			}
			.invisible {
			visibility: hidden;
			}
		</style>
		<!-- jQuery (Bootstrap 所有外掛均需要使用) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- 依需要參考已編譯外掛版本（如下），或各自獨立的外掛版本 -->
		<script src="javascripts/bootstrap.min.js"></script>
		<script src="javascripts/holder.min.js"></script>
		<script type="text/javascript">
function init(){
	//在「編輯作品」中按下新增/編輯/刪除
	$("input[name=rdoWork]").click(function(){
		if($('input[name=rdoWork]:checked').val() != "add"){
			$("#sltWork").attr("disabled", false);
			$("#sltWork").trigger("change");
		}
		else{
			$("#sltWork").attr("disabled", true);
			$("input[name=workJName]").val("");
			$("input[name=workCName]").val("");
			$("input[name=workEName]").val("");
			$("textarea[name=workIntr]").val("");
		}
	});

	//在「編輯作品」中選擇作品（適用於編輯、刪除）
	$("#sltWork").change(function(){
		$.post("/manage/getWorkInfo", {
			workId : $("#sltWork").val()
		}, function(data, status){
			if(status=="success"){
				$("input[name=workJName]").val(data.j_name);
				$("input[name=workCName]").val(data.c_name);
				$("input[name=workEName]").val(data.e_name);
				$("textarea[name=workIntr]").val(data.introduction);
			}
		});
	});

	//在「編輯座標」中按下新增/編輯/刪除
	$("input[name=rdoPlacemark]").click(function(){
		if($('input[name=rdoPlacemark]:checked').val() != "add"){
			$("#sltPlacemark").attr("disabled", false);
			$("#sltWorkOfPlacemark").attr("disabled", false);
			$("#sltWorkList").attr("disabled", false);
			$("#btnAddWorkToPlacemark").attr("disabled", false);
			$("#btnDelWorkFromPlacemark").attr("disabled", false);
			$("#sltPlacemark").trigger("change");
			$("#divExtArticle").fadeIn();
		}
		else{
			$("input[name=placemarkName]").val("");
			$("input[name=latNum]").val("");
			$("input[name=lngNum]").val("");
			$("textarea[name=placemarkDesc]").val("");
			$("#sltPlacemark").attr("disabled", true);
			$("#sltWorkOfPlacemark").attr("disabled", true);
			$("#sltWorkList").attr("disabled", true);
			$("#btnAddWorkToPlacemark option").remove();
			$("#btnAddWorkToPlacemark").attr("disabled", true);
			$("#btnDelWorkFromPlacemark").attr("disabled", true);
			$("#divExtArticle").fadeOut();
		}
	});

	//在「編輯座標」中選擇座標（適用於編輯、刪除）
	$("#sltPlacemark").change(function(){
		$.post("/manage/getPlacemarkInfo", {
			placemarkId : $("#sltPlacemark").val()
		}, function(data, status){
			if(status=="success"){
				$("input[name=placemarkName]").val(data.name);
				$("input[name=latNum]").val(data.latitude);
				$("input[name=lngNum]").val(data.longitude);
				$("textarea[name=placemarkDesc]").val(data.description);
				$("#sltWorkOfPlacemark option").remove();
				for(var index in data.work){
					$("#sltWorkOfPlacemark")
					.append($("<option></option>")
					.attr("value", data.work[index]._id)
					.text(data.work[index].c_name));
				}
			}
		});
	});

	//點選「編輯座標」中之加入
	$("#btnAddWorkToPlacemark").click(function(){
		$.post("/manage/addWorkToPlacemark", {
			placemarkId: $("#sltPlacemark").val(),
			workId: $("#sltWorkList").val()
		}, function(data, status){
			if(status == "success"){
				window.location.reload();
			}
		});
	});

	//點選「編輯座標」中之刪除
	$("#btnDelWorkFromPlacemark").click(function(){
		$.post("/manage/DelWorkFromPlacemark", {
			placemarkId: $("#sltPlacemark").val(),
			workId: $("#sltWorkOfPlacemark").val()
		}, function(data, status){
			if(status == "success"){
				window.location.reload();
			}
		});
	});

	//在「編輯場景」中按下新增/編輯/刪除
	$("input[name=rdoScene]").click(function(){
		if($('input[name=rdoScene]:checked').val() != "add"){
			$("#sltScene").attr("disabled", false);
			$("#sltScene").trigger("change");
		}
		else{
			$("input[name=sceneName]").val("");
			$("textarea[name=sceneDesc]").val("");
			$("#sltScene").attr("disabled", true);
			$("#imgWorkScene").removeAttr("src");
			$("#imgRealScene").removeAttr("src");
			Holder.setResizeUpdate( $("#imgWorkScene").get(0), true);
			Holder.setResizeUpdate( $("#imgRealScene").get(0), true);
		}
	});

	//在「編輯場景」中選擇場景（適用於編輯、刪除）
	$("#sltScene").change(function(){
		$.post("/manage/getSceneInfo", {
			sceneId : $("#sltScene").val()
		}, function(data, status){
			if(status=="success"){
				$("input[name=sceneName]").val(data.name);
				$("textarea[name=sceneDesc]").val(data.description);
				$("#sltSceneOfWork option[value=" + data.work + "]").prop("selected", true);
				$("#sltSceneOfPlacemark option[value='" + data.placemark + "']").prop("selected", true);
				$("#imgWorkScene").attr("src", "imgs/" + data.workImgUrl);
				$("#imgRealScene").attr("src", "imgs/" + data.realImgUrl);
				Holder.setResizeUpdate( $("#imgWorkScene").get(0), false);
				Holder.setResizeUpdate( $("#imgRealScene").get(0), false);
			}
		});
	});

	//在「編輯場景」中選擇檔案
	$("input.uploadImg").change(function(){
		var extName = $(this).val().substring($(this).val().lastIndexOf('.'),$(this).val().length).toLowerCase();
		if(extName != ".jpg" && extName != ".png"){
			alert("錯誤的檔案類型！");
			$(this).val("");
		}
	});
	
	//初始設置
	$("#rdoWorkAdd").prop("checked", true);
	$("#rdoPlacemarkAdd").prop("checked", true);
	$("#rdoSceneAdd").prop("checked", true);
	showForm("Work");
};

function showForm(formKind) {
 	switch(formKind) {
 		case "Work": 
		 	$("#formWork").fadeIn();
 			$("#formPlacemark").hide();
 			$("#formScene").hide();
 			break;
 		case "Placemark": 
		 	$("#formWork").hide();
 			$("#formPlacemark").fadeIn();
 			$("#formScene").hide();
 			break;
 		case "Scene": 
			$("#formWork").hide();
 			$("#formPlacemark").hide();
 			$("#formScene").fadeIn();
 			break;
	}
};

function checkFormScene(){
	if($("#uploadWorkScene").val() == "" || $("#uploadRealScene").val() == ""){
		alert("作品場景或實際場景不可為空！");
		return false;
	}
	return true;
}
		</script>
		<!-- HTML5 shim and Respond.js 讓 IE8 支援 HTML5 元素與媒體查詢 -->
		<!-- 警告：Respond.js 無法在 file:// 協定下運作 -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body onLoad="init();">
	<div class="container">		
   		<div class="row">
			<h1>聖地巡禮地圖－後端管理</h1><br>
   			<ul class="nav nav-tabs">
   				<li role="presentation" class="active"><a href="javascript:showForm('Work')">編輯作品</a></li>
   				<li role="presentation" class="active"><a href="javascript:showForm('Placemark')">編輯座標</a></li>
   				<li role="presentation" class="active"><a href="javascript:showForm('Scene')">編輯場景</a></li>
   			</ul><br>
   			<div class="col-md-6">
   				<form role="form" action="/manage/submitWork" method="post" id="formWork">
					<label class="radio-inline"><input type="radio" name="rdoWork" id="rdoWorkAdd" value="add">新增</label>
					<label class="radio-inline"><input type="radio" name="rdoWork" id="rdoWorkEdit" value="edit">編輯</label>
					<label class="radio-inline"><input type="radio" name="rdoWork" id="rdoWorkDel" value="del" disabled>刪除</label>
					<label class="radio-inline" style="width: 200px;">
						<select name="sltWork" id="sltWork" class="form-control" disabled>
						<% for(var index in workList) {%>
		 					<option value="<%= workList[index]._id %>"><%= workList[index].c_name %></option>
		   				<% } %>
						</select>
					</label><br><br>
				   	<label class="control-label" for="workJName">作品名稱（日文）</label>
			   		<input type="text" class="form-control" name="workJName"><br>
			   		<label class="control-label" for="workCName">作品名稱（中文）</label>
			   		<input type="text" class="form-control" name="workCName"><br>
					<label class="control-label" for="workIntr">簡介</label>
					<textarea class="form-control" name="workIntr" rows="5"></textarea><br>
		   			<button type="submit" class="btn btn-lg btn-primary" id="btnSubmitWork">送出</button>
   				</form>
   				<form role="form" action="/manage/submitPlacemark" method="post" id="formPlacemark">
   					<label class="radio-inline"><input type="radio" name="rdoPlacemark" id="rdoPlacemarkAdd" value="add">新增</label>
					<label class="radio-inline"><input type="radio" name="rdoPlacemark" id="rdoPlacemarkEdit" value="edit">編輯</label>
					<label class="radio-inline"><input type="radio" name="rdoPlacemark" id="rdoPlacemarkDel" value="del" disabled>刪除</label>
					<label class="radio-inline" style="width: 200px;">
						<select name="sltPlacemark" id="sltPlacemark" class="form-control" disabled>
						<% for(var index in placemarkList) {%>
		 				<option value="<%= placemarkList[index]._id %>"><%= placemarkList[index].name %></option>
		   				<% } %>
						</select>
					</label><br><br>
		   			<label>景點名稱</label><input type="text" class="form-control" name="placemarkName"><br>
		   			<label>緯度(latitude)</label><input type="text" class="form-control" name="latNum"><br>
		   			<label>經度(longitude)</label><input type="text" class="form-control" name="lngNum"><br>
					<label>包含作品（刪除：刪除已有之作品，加入：加入其他作品）</label><br>
					<div class="row">
						<div class="col-md-9">
							<select name="sltWorkOfPlacemark" id="sltWorkOfPlacemark" class="form-control" disabled>
							</select><br>
						</div>
						<div class="col-md-3">
							<input type="button" value="刪除" class="btn btn-default" id="btnDelWorkFromPlacemark" style="width:100%;" disabled />
						</div>
					</div>
					<div class="row">
						<div class="col-md-9">
							<select name="sltWorkList" id="sltWorkList" class="form-control" disabled>
								<% for(var index in workList) {%>
									<option value="<%= workList[index]._id %>"><%= workList[index].c_name %></option>
								<% } %>
							</select><br>
						</div>
						<div class="col-md-3">
							<input type="button" value="加入" class="btn btn-default" id="btnAddWorkToPlacemark" style="width:100%;" disabled />
						</div>
					</div>
		   			<label class="control-label" for="placemarkDesc">描述</label>
					<textarea class="form-control" name="placemarkDesc" rows="5"></textarea><br>
	   				<button type="submit" class="btn btn-lg btn-primary" id="btnSubmitPlacemark">送出</button><br><br>
   				</form>
				<form role="form" action="/manage/submitScene" method="post" id="formScene" enctype="multipart/form-data">
					<label class="radio-inline"><input type="radio" name="rdoScene" id="rdoSceneAdd" value="add">新增</label>
					<label class="radio-inline"><input type="radio" name="rdoScene" id="rdoSceneEdit" value="edit">編輯</label>
					<label class="radio-inline"><input type="radio" name="rdoScene" id="rdoSceneDel" value="del" disabled>刪除</label>
					<label class="radio-inline" style="width: 200px;">
						<select name="sltScene" id="sltScene" class="form-control" disabled>
							<% for(var index in sceneList) {%>
									<option value="<%= sceneList[index]._id %>"><%= sceneList[index].name %></option>
								<% } %>
						</select>
					</label><br><br>
					<label>場景名稱</label><input type="text" class="form-control" name="sceneName"><br>
					<label class="control-label" for="sceneDesc">描述</label>
					<textarea class="form-control" name="sceneDesc" rows="5"></textarea><br>
					<div class="row">
						<div class="col-md-6">
							<label class="control-label" for="">出現作品</label>
							<select name="sltSceneOfWork" id="sltSceneOfWork" class="form-control">
								<% for(var index in workList) {%>
								<option value="<%= workList[index]._id %>"><%= workList[index].c_name %></option>
								<% } %>
							</select><br>
							<img id="imgWorkScene" src="holder.js/100px200?text=無圖片" width="100%" class="img-rounded"><br>
							<input id="uploadWorkScene" name="uploadWorkScene" type="file" class="form-control uploadImg" accept="image/*">
						</div>
						<div class="col-md-6">
							<label class="control-label" for="">實際座標</label>
							<select name="sltSceneOfPlacemark" id="sltSceneOfPlacemark" class="form-control">
								<% for(var index in placemarkList) {%>
								<option value="<%= placemarkList[index]._id %>"><%= placemarkList[index].name %></option>
								<% } %>
							</select><br>
							<img id="imgRealScene" src="holder.js/100px200?text=無圖片" width="100%" class="img-rounded"><br>
							<input id="uploadRealScene" name="uploadRealScene" type="file" class="form-control uploadImg" accept="image/*"> 
						</div>
					</div>
        			<br>
					<label>※檔案大小限制為5MB，僅接受png、jpg檔名</label><br><label>※編輯時新圖片會取代舊圖片</label><br><br>
        			<button id="btnSubmitScene" class="btn btn-lg btn-primary" type="submit">上傳</button><br><br>
				</form>
   			</div>
			<div class="col-md-6">
				<div class"row" id="divExtArticle" hidden>
					<label>部落格</label>
				</div>
			</div>
   		</div>
   	</div>
	</body>
</html>