<div class="container" id="intro">	
    <div class="page-header" id="place">
        <h2><%= placemark.name %></h2><h4><span class="label label-info"><%= placemark.work.length %>個作品</span></h4>
        <p><%= placemark.description %></p>
    </div><br/>
    <!--顯示所在地點的所有作品-->
    <!--其中一個作品-->
    <div class="col-md-5" id="text">
        <% for(var i = 0; i < placemark.work.length; i++) {%>
            <div class="row" id="text">
                <h3><%= placemark.work[i].c_name %></h3>
                <p><%= placemark.work[i].category %></p>
                <p><%= placemark.work[i].introduction %></p>
            </div>
        <% } %>
    </div>
    <!--圖片資訊-->
    <div class="col-md-6 col-md-offset-1" id="pics" style="border:1px solid #F05E1C;  border-radius:20px;">
        <% for(var index in scenes) {%>
            <div class="row">
                <div class="col-sm-6">
                    <img src="imgs/<%= scenes[index].realImgUrl %>" style="height:150px" title="<%= scenes[index].name %>" class="img-responsive img-round" />
                </div>
                <div class="col-sm-6">
                    <img src="imgs/<%= scenes[index].workImgUrl %>" style="height:150px" title="<%= scenes[index].name %>" class="img-responsive img-round" />
                </div>
            </div>
        <% } %>
    </div>
</div>