<script>
    /* 按照畫面由上至下、由左至右順序 */
    $("#btnSavePlacemark").click(function(){
        if($("#spanStar").hasClass("glyphicon-star-empty")){
            $.get("/saveUserPlacemark", function(data, status){
                if(status == "success"){
                    $("#spanStar").removeClass("glyphicon-star-empty");
                    $("#spanStar").addClass("glyphicon-star");
                    $("#spanStar").text(" 已記錄");
                }
            });
        }
        else{
            $.get("/removeUserPlacemark", function(data, status){
                if(status == "success"){
                    $("#spanStar").removeClass("glyphicon-star");
                    $("#spanStar").addClass("glyphicon-star-empty");
                    $("#spanStar").text(" 記錄");
                }
            });
        }
    });

     $("#btnDelPlacemark").click(function(){
        $.get("manage/delPlacemark", function(data, status){
            if(status == "success"){
				window.location.reload();
			}
        });
    });

    $("#btnShowTagInput").click(function(){
		$("#formAddTag").slideToggle();
    });

     $("#newTag").keydown(function(event){
        if( event.which == 13 ) {
            $("#submitTag").trigger("click");
        }
    });

    $("#formAddTag").validate({
        submitHandler: function(form){    
            $(form).ajaxSubmit({
                success: function(data, status){
                    var newTag = "<span class='label label-info label-tag'>" + data +
                             " <span class='glyphicon glyphicon-remove delTag' style='cursor: pointer;'></span></span>";
                    $("#btnShowTagInput").before(newTag);
                    $("#formAddTag").slideToggle();
                },
                clearForm: true
            });
        },
        rules: {
            newTag: {
                required : true,
                rangelength : [1,20]
            }
        },
        messages: {
            newTag: {
                required : "請輸入文字",
                rangelength : "標籤長度必須介於1~20之間"
            }
        }
    });

    $(document).on("click", ".label-tag", function(){
        $("#keyword").val($(this).text().replace(/(^\s+)|(\s+$)/g, ""));
        $("#btnFilter").click();
    });

    $(document).on("click", ".delTag", function(){
        var thistag = $(this);
        $.post("/delTag",{
            tag : $(this).parent().text().replace(/(^\s+)|(\s+$)/g, "")
        }, function(data, status){
            if(status == "success"){
                //Delete tag
                thistag.parent().empty();
            }
        });
    });

    $("#btnEditAddress").click(function(){
        if($(this).children(":first").hasClass("glyphicon-pencil")){
            var originAddress = $(this).prev().text().replace(/(^\s+)|(\s+$)/g, "");
            var newAddress = "<input id='newAddress' class='form-control' style='width:200px;' type='text' value='" + originAddress + "'>";
            $(this).prev().html(newAddress);
            $(this).children(":first").removeClass("glyphicon-pencil");
            $(this).children(":first").addClass("glyphicon-ok");
        }
        else{
            $.post("manage/editAddress", { newAddress: $("#newAddress").val() });
            $(this).prev().html("<span>" + $("#newAddress").val() + "</span>");
            $(this).children(":first").removeClass("glyphicon-ok");
            $(this).children(":first").addClass("glyphicon-pencil");
        }
    });

    $("#btnAddBlog").click(function(){
         $.post("manage/AddBlog", { newTitle : $("#newBlogTitle").val(), newUrl: $("#newBlogUrl").val() });
         var newBlog = "<li class='list-style'>" +
                         "<a href='" + $("#newBlogUrl").val() + "' target='_blank'>" + $("#newBlogTitle").val() + "</a>" +
                         "<button class='btn btn-link btn-xs manage btn-delBlog'><span class='glyphicon glyphicon-remove'></button>" +
                         "</li>";
         $(".blog-list").append(newBlog);
    });

    $(document).on("click", ".btn-delBlog", function(){
        $.post("manage/delBlog", { delTitle : $(this).prev().text() });
        window.location.reload();
    });

    $("#btnEditDesc").click(function(){
        if($(this).children(":first").hasClass("glyphicon-pencil")){
            var originDesc = $(this).prev().html();
            var newDesc = "<textarea id='newDesc' class='form-control' style='width:100%; height:300px;'>" +  originDesc + "</textarea>";
            $("#spanDesc").html(newDesc);
            $(this).children(":first").removeClass("glyphicon-pencil");
            $(this).children(":first").addClass("glyphicon-ok");
        }
        else{
            $.post("manage/editDesc", { newDesc: $("#newDesc").val() });
            $("#spanDesc").html($("#newDesc").val());
            $(this).children(":first").removeClass("glyphicon-ok");
            $(this).children(":first").addClass("glyphicon-pencil");
        }
    });

    $(document).on("click", ".btn-delImg", function(){
        $.post("manage/delImg", { delImgUrl : $(this).parent().prev().attr("src") });
        window.location.reload();
    });

    <% if(mod > 1){ %>
        /* 管理相關 */
        $(".manage").hide();
    <% } %>

    <% if(mod > 2){ %>
        /* 會員相關 */
        $(".member").hide();
    <% } %>

</script>
<div class="container">
    <div class="page-header">
        <h2>
            <span id="plmkName" style="margin-right: 30px;"><%= placemark.name %></span>
            <% if(saved){ %>
                <button class="btn btn-primary member" id="btnSavePlacemark">
                    <span class="glyphicon glyphicon-star" id="spanStar" aria-hidden="true"> 已記錄</span>
                </button>
            <% } else{ %>
                <button class="btn btn-primary member" id="btnSavePlacemark">
                    <span class="glyphicon glyphicon-star-empty" id="spanStar" aria-hidden="true"> 記錄</span>
                </button>
            <% } %>
            <!-- 暫時不製作導航功能
            <button class="btn btn-success" id="btnGuide">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"> 導航</span>
            </button>
            -->
            <button type="button" id="btnDelPlacemark" class="btn btn-danger manage" hidden>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"> 刪除
            </button>
        </h2>
    </div>
    <div class="col-md-8">
         <h4 id="plmkTagList">
            <% for(i = 0; i < placemark.tag.length; i++){%>
                <span class="label label-info label-tag" style="cursor: pointer;">
                    <%= placemark.tag[i] %>
                    <span class="glyphicon glyphicon-remove delTag manage" style="cursor: pointer;"></span>
                </span>
            <% } %>
            <button id="btnShowTagInput" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button>
        </h4>
        <form id="formAddTag" class="form-inline" action="/addTag" method="post" hidden>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <input id="newTag" name="newTag" type="text" class="form-control">&nbsp;&nbsp;
                    <button type="submit" id="btnAddTag" class="btn btn-primary">送出</button>
                </div>
            </div>
        </form>
        <p>地址：<span><%= placemark.address %></span>
            <button id="btnEditAddress" type="button" class="btn btn-link btn-xs btn-edit manage">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </p>
        <h5>相關連結：</h5>
        <ul class="list-style blog-list">
            <% for(i = 0; i < placemark.blog.length; i++) {%>
                <li class="list-style">
                    <a href="<%= placemark.blog[i].url %>" target="_blank"><%= placemark.blog[i].title %></a>
                    <button class="btn btn-link btn-xs manage btn-delBlog">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>
            <% } %>
        </ul>
        <form class="form-inline manage">
            <input type="text" style="margin-right:5px; margin-left:26px; width:250px;" class="form-control input-sm" id="newBlogTitle" name="newBlogTitle" placeholder="標題">
            <input type="text" style="width:300px;" class="form-control input-sm" id="newBlogUrl" name="newBlogUrl" placeholder="網址">
            <button type="button" style="margin-left:5px;" class="btn btn-info btn-sm" id="btnAddBlog">新增</button>
        </form>
        <hr>
        <p><span id="spanDesc"><%- placemark.description %></span>
            <button id="btnEditDesc" class="btn btn-link btn-xs btn-edit manage">
                <span class="glyphicon glyphicon-pencil">
            </button>
        </p>
        <hr>
        <div class="row">
            <% for(i = 0; i < placemark.img.length; i++) {%>
                <div class="col-sm-6">
                    <img src="imgs/<%= placemark.img[i].url %>" style="height: 160px;" title="" class="img-responsive img-round center-block" />
                    <h6 class="text-center"><%= placemark.img[i].remark %>
                        <button class="btn btn-link btn-xs manage btn-delImg"><span class="glyphicon glyphicon-remove"></button>
                    </h6>
                </div>
            <% } %>
        </div>
        <div class="row manage">
            <form class="form-inline" action="manage/addImg" method="post" enctype="multipart/form-data">
                <h4>上傳其他圖片：</h4>
                <input name="newImg" type="file" class="form-control lastFile" accept="image/*">
                <input name="newImgRemark" type="text" class="form-control" style="width:40%;" placeholder="圖片描述">
                <button type="submit" style="margin-left:5px;" class="btn btn-info" id="btnAddImg">新增</button>
            </form>
        </div>
        <br>
        <br>
    </div>
</div>